$SacramentoStateGreen: rgb(1, 47, 52);
$White: rgb(255, 255, 255);

button {
  padding: 1rem 0.5rem;
  font-size: 18px;
  border: 0;
  background-color: $SacramentoStateGreen;
  border-radius: 12px;
  transition: 0.4s all;
  &:hover {
    color: black;
    background-color: $White;
  }
}
